
body { 
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(51, 44, 53);
    background-color: rgb(255, 239, 249);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.container {
  max-width: 100%; /* ensures container contents fill the container */
 padding-left: 5%;
 padding-right: 5%;
}

 /* navbar section */

.navigation-bar {
    position: fixed; /* Sets the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 9999; /* Ensures navbar remains on top of other content */
    background-color: none; /* navbar transparent */
    width: 100%;
}
.navbar-brand {
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.navbar .navbar-brand:hover {
    color: #f90891;
    text-shadow: 0.02em 0.02em #f90808, 0.04em 0.04em #fe8f01, 0.06em 0.06em #fdf21f, 0.08em 0.08em #3fdf4b, 0.10em 0.10em #3462fe;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #f90891;
    text-shadow: 0.02em 0.02em #f90808, 0.04em 0.04em #fe8f01, 0.06em 0.06em #fdf21f, 0.08em 0.08em #3fdf4b, 0.10em 0.10em #3462fe;
}

/* jumbotron section */

.jumbotron {
    background: none;
    padding-top: 0px;
    display: flex;
    padding-bottom: 0;
    margin-top: 10%;
    margin-bottom: 10%;
  
}

#jumbotron-row {
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}

#jumbotron-image {
  justify-content: center;

}

p, li {
    font-size: 1.5vw;
}

/* hero section text */
.lead {
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    padding-top: 5%;

}

#hearo-text {
  display: flex;

}

#hero-text p {
  justify-content: center;
  align-items: center;
}

.lead:hover {           /*hover effect applied to hero section text */
    color: #f90891;
    text-shadow: 0.02em 0.02em #f90808, 0.04em 0.04em #fe8f01, 0.06em 0.06em #fdf21f, 0.08em 0.08em #3fdf4b, 0.10em 0.10em #3462fe;
}

.avatar {
    position: relative;
    aspect-ratio: 1/1 ;
    margin-top: 5vw;
    height: auto;
    max-width: 100%;

}

/* about me section */
.image-me {
    overflow: none;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: fit-content;
    max-width: 100%;
}
.about-me {
    padding-top: 10vw; /* ensures the about me heading can be viewed whilst navbar is fixded */

}

h2 {
    font-size: 3vw;
}
/* skils section */

.skills {
    height: 50vw;
    padding-top: 10vw;
}

#skill-list {
    margin-top: 3vw;
}
/* work section */

 .work {
    padding-top: 10vw;
 }

.container {
    margin-bottom: 10%;
}
.col-sm-3 {
    border-right: solid;
    border-right-color: rgb(255, 122, 144) ;
    font-family: 'Lobster', cursive;
}

.no-border {
  border: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body p {
    font-size: 1vw;
}

.card .card-body {
    max-height: 20vw; /* allows cards to remain the same height */
    overflow: auto;
}

/* contact me section */

.contact-me .col-lg-9 {
    text-align: center;
    font-size: 1.5vw;
}

.contact-me {
    padding-top: 10vw;
}

/* start of contact form */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
/* end of contact form */

/* footer section */

.footer p {
    text-align: center;
    font-size: 1vw;
    margin-bottom: 10%;
}

.contact-icons {
    text-align: center;
    font-size: 3vw;
}

/* hover effect and box-shadow of social media icons */
.contact-icons >a:hover {
    color: #f90891;
    box-shadow: 8px -8px 20px 3px #f90891;
}

.contact-icons >a {
    color: inherit; /*allows the font awesome icon to inherit the color the surrounding font*/
}
